<!DOCTYPE html>
<html>
    <head>
        <title>Oh_nO!</title>
    </head>
    <body>
        <a style="text-decoration: none" href="./"><h2>Oh_nO!<span class="Searchy">NxN</span></h2></a>
        <form action="http://127.0.0.1:5000/Start" method=POST>
            <div class="searchbar">
                <label>Board size: </label>
                <input type="text" name="size" id="size" placeholder="Input Length">
                <input type="submit" name = "playButton" value="Play">
            </div>
        </form>
    </body>
</html>
        